
@media screen and (max-width: 600px) {
    body {
        background-image: url("phonedressingroom.jpg");
        background-size: cover;
    }
}
#startCarousel {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #218838;
    border-radius: 5px;
    cursor: pointer;
}

#stopCarousel {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 100px; /* Adjust the right position as needed */
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #218838;
    border-radius: 5px;
    cursor: pointer;
}


#startCarousel:hover, #stopCarousel:hover {
    background-color: #218838;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial;
    text-align: center;
    overflow: hidden;
    color: #023020;
    background-image: url("webdressingroom.jpg");
    background-size: cover;
}

.overlay-image {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the overlay is above the carousel (which has z-index: 1 by default) */
}

.overlay-image img {
    width: 600px; /* Set the width of the overlay image */
    height: 800px; /* Set the height of the overlay image */
}

h3 {
    font-weight: bold;
    color: #3f3f3f;
    font-size: 30px;
    font-family: "Days One", sans-serif;
    position: absolute;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: 0px;
    border: 4px solid #023020;
    border-radius: 5px;
}

#buttons img {
    width: 120px;
    height: 150px;
}

.carousel-inner {
    width: 150px; 
    overflow: hidden;
    margin: auto; 
}

.carousel-inner .carousel-item {
    width: 100%; 
}

#UPcarousel .carousel-item img {
    width: 150px;
    height: 100px;
}

#SHIRTScarousel .carousel-item img {
    width: 150px; 
    height: 150px;
}

#PANTScarousel .carousel-item img {
    width: 150px;
    height: 180px;
}

#SHOEScarousel .carousel-item img {
    width: 150px; 
    height: 50px;
}

.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23%414141' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23%414141' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
