@media screen and (max-width: 600px) {
    body {
        background-image: url("phonedressingroom.jpg");
        background-size: cover;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial;
    text-align: center;
    overflow: hidden;
    color: #023020;
    background-image: url("webdressingroom.jpg");
    background-size: cover; /* This property ensures that the image covers the entire background */
}

h3 {
    font-weight: bold;
    color: #3f3f3f;
    font-size: 30px;
    font-family: "Days One", sans-serif;
    position: absolute;
    top: 60px; /* Adjust this value to position the h3 element */
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: 0px;
    border: 4px solid #023020;
    border-radius: 5px;
}

#buttons img {
    width: 120px;
    height: 150px;
}

#UPcarousel .carousel-item img {
    width: 150px;
    height: 100px;
}

#SHIRTScarousel .carousel-item img {
    width: 150px; 
    height: 150px;
}

#PANTScarousel .carousel-item img {
    width: 150px;
    height: 180px;
}

#SHOEScarousel .carousel-item img {
    width: 150px; 
    height: 50px;
}

.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23%414141' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23%414141' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
  
